#form button {
  margin: 10px 0 2px 0;
}
.formsection {
  display: flex;
  justify-content: center;
}
#form {
  border: 1px solid rgb(136, 132, 132);
  position: absolute;
  top: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 2rem 3rem;
  border-radius: 1rem;
  margin: 1rem;
}
#form form {
  display: flex;
  flex-direction: column;
}
#showinput {
  border: none;
  outline: none;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
}

.hallbook {
  display: grid;
  grid-template-columns: 3fr 1.3fr;
  margin: 2rem 0;
  align-items: center;
}
.hallbook div {
  font-size: 1.3rem;
}
#hallinput {
  padding: 0.2rem;
}

#form form,
#form #button {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

#form #button button {
  background-color: green;
  padding: 5px 30px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.4s ease;
}
#form #button button:hover {
  transform: scale(1.1);
}

#form #button button:nth-of-type(2) {
  margin-left: 15px;
  background-color: red;
}

#nameinput {
  padding: 0.3rem;
  margin: 1rem 0;
  font-size: 1.2rem;
}
#form #message {
  color: green;
}
@media (max-width: 550px) {
  .hallbook {
    grid-template-columns: 1fr 1fr;
  }
  #showinput {
    text-align: left;
    font-size: 1.2rem;
  }
  .hallbook div {
    font-size: 1rem;
  }
}
@media (max-width: 350px) {
  #form {
    padding: 2rem;
  }
}
